<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="shabda" />
        <meta name="copyright" content="shabda" />

        <meta property="og:type" content="article" />
        <meta name="twitter:card" content="summary">

<meta name="keywords" content="tips, markdown, " />

<meta property="og:title" content="Building reusable Django apps "/>
<meta property="og:url" content="/building-reusable-django-apps.html" />
<meta property="og:description" content="Recently I updated a lot of our old apps to be compatible with Django 1.0 and be reusable. Before we go further, let me define a _ Reusable Django App _. A Django app is reusable if * It is app. (That is, it is not a project, and has no settings.py/manage.py.) * It can be dropped in an existing project, and only places where the project should need editing are settings.py installed_apps and the projects level urls.py. * It can be used in the project with an arbitrary url prefix. The updated apps were written initially for Django 0.96" />
<meta property="og:site_name" content="agiliq_blog" />
<meta property="og:article:author" content="shabda" />
<meta property="og:article:published_time" content="2008-11-11T08:04:11+05:30" />
<meta property="" content="2008-11-11T19:34:11+05:30" />
<meta name="twitter:title" content="Building reusable Django apps ">
<meta name="twitter:description" content="Recently I updated a lot of our old apps to be compatible with Django 1.0 and be reusable. Before we go further, let me define a _ Reusable Django App _. A Django app is reusable if * It is app. (That is, it is not a project, and has no settings.py/manage.py.) * It can be dropped in an existing project, and only places where the project should need editing are settings.py installed_apps and the projects level urls.py. * It can be used in the project with an arbitrary url prefix. The updated apps were written initially for Django 0.96">

        <title>Building reusable Django apps  · agiliq_blog
</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/theme/css/pygments.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/theme/tipuesearch/tipuesearch.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/theme/css/elegant.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/theme/css/custom.css" media="screen">
    </head>
    <body>
        <div id="content-sans-footer">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/"><span class=site-name>agiliq_blog</span></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right top-menu">
                            <li ><a href="">Home</a></li>
                            <li ><a href="/categories.html">Categories</a></li>
                            <li ><a href="/tags.html">Tags</a></li>
                            <li ><a href="/archives.html">Archives</a></li>
                            <li><form class="navbar-search" action="/search.html" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input"></form></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10">
<article>
<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1><a href="/building-reusable-django-apps.html"> Building reusable Django apps  </a></h1>
    </header>
</div>

<div class="row-fluid">
        <div class="span8 offset2 article-content">

            
            <p>Recently I updated a lot of our old apps to be compatible with Django 1.0 and be reusable. Before we go further, let me define a _ Reusable Django App _.</p>
<div class="highlight"><pre><span></span>A Django app is reusable if

*  It is app. (That is, it is not a project, and has no settings.py/manage.py.)
* It can be dropped in an existing project, and only places where the project should need editing are `settings.py` `installed_apps` and the projects level `urls.py`.
* It can be used in the project with an arbitrary url prefix.
</pre></div>


<p>The updated apps were written initially for Django 0.96 and were coupled to the projects, so it was not possible to include them in other projects. After updating these I was able to include them
in in a single project as a part of this site.</p>
<p>The apps were,</p>
<ul>
<li>blogango <a href="http://uswaretech.com/blogango/">demo</a> <a href="https://svn.uswaretech.com/blogango/trunk/blogango/">source</a></li>
<li>djikiki <a href="http://uswaretech.com/djikiki/">demo</a> <a href="https://svn.uswaretech.com/djikiki/trunk/djikiki/">source</a></li>
</ul>
<p>The following apps from 7days7apps.com</p>
<ul>
<li>pastebin <a href="http://uswaretech.com/pastebin/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/djpaste/pastebin/">source</a></li>
<li>jobs <a href="http://uswaretech.com/jobs/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/djobboard/jobs/">source</a></li>
<li>pollngo <a href="http://uswaretech.com/polls/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/polls/pollngo/">source</a></li>
<li>todidlist <a href="http://uswaretech.com/todo/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/todolist/todidlist/">source</a></li>
<li>mytym <a href="http://uswaretech.com/timesheets/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/timetrack/mytym">source</a></li>
<li>answrs <a href="http://uswaretech.com/answrs/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/answers/answrs/">source</a></li>
<li>kamp <a href="http://uswaretech.com/kamp/">demo</a> <a href="https://svn.uswaretech.com/7days7apps/trunk/kasekamp/kamp/">source</a></li>
</ul>
<hr>
<p>Without further ado hints to help you make your apps reusable,</p>
<h5>Always use models.permalink with <code>get_absolute_url</code> type of functions:</h5>
<p>If you have code like</p>
<div class="highlight"><pre><span></span>def get_absolute_url(self):
    return &#39;/project/%s/&#39; % self.name
</pre></div>


<p>this is tying your app to a specific url structure. (and hence to a specific project). Instead a code like,</p>
<div class="highlight"><pre><span></span>@models.permalink
def get_absolute_url(self):
    return (&#39;app.views.view_func&#39;, [self.name])
</pre></div>


<p>allows you to use this app with any arbitrary url structure in the project.</p>
<h5>Always use <code>reverse</code> when you use <code>HttpResponseRedirect</code>.</h5>
<p>For a similar reason as 1. Of course this does not apply if you are doing <code>return HttpResponseRedirect('.')</code></p>
<h5>Always use <code>{% url %}</code> with <code>&lt;a href="</code>.</h5>
<p>For reasons as in 1.</p>
<h5>Do all imports assuming your apps exist on Pythonpath. So your imports should look like</h5>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">myapp.models</span> <span class="kn">import</span> <span class="n">ModelClass</span>
</pre></div>


<p>and not</p>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">myproject.myapp.models</span> <span class="kn">import</span> <span class="n">ModelClass</span>
</pre></div>


<p>as this ties the app to a specific project.</p>
<h5>Use named urlpatterns. Prefix app name to url patterns names.</h5>
<p>Named url patterns make point 2 and 3 much simpler. Prefixing appname to url pattern name makes removes name collision and simplifies using <code>reverse</code> and <code>{% url %}</code>.</p>
<h5>Serve your static media from /MEDIA_URL/<app_name>/:</h5>
<p>Each app could be using a stylesheet named style.css. If we were serving media from user /MEDIA_URL/, we are tied to one stylesheet for the whole project. If you were serving it from /MEDIA_URL/<app_name>/ it is as simple
as symlinking a directory.</p>
<p>After using these pointers, your apps are decoupled from the project. To use the apps with Usware site, all we needed to do was to add the following lines to svn:externals</p>
<div class="highlight"><pre><span></span>blogango https://svn.uswaretech.com/blogango/trunk/blogango/
djikiki https://svn.uswaretech.com/djikiki/trunk/djikiki/
...............
pastebin https://svn.uswaretech.com/7days7apps/trunk/djpaste/pastebin   site_media/kamp https://svn.uswaretech.com/7days7apps/trunk/kasekamp/site_media/kamp/
</pre></div>


<p>And put the apps in <code>settings.INSTALLED_APPS</code> and include the app urls.py in the projects urls.py.</p>
<hr>
<p>Need an <code>Amazing Webapp</code> built? <a href="http://uswaretech.com/contact/">Talk to Usware</a>. Need help with any of these apps? <a href="http://uswaretech.com/contact/">Talk to Usware</a>.</p>
            
            
            <hr/>
        </div>
        <section>
        <div class="span2" style="float:right;font-size:0.9em;">
            <h4>Published</h4>
            <time pubdate="pubdate" datetime="2008-11-11T08:04:11+05:30">Nov 11, 2008</time>

<h4>Last Updated</h4>
<time datetime="2008-11-11T19:34:11+05:30">Nov 11, 2008</time>

            <h4>Category</h4>
            <a class="category-link" href="/categories.html#markdown-ref">markdown</a>
            <h4>Tags</h4>
            <ul class="list-of-tags tags-in-article">
                <li><a href="/tags.html#tips-ref">tips
                    <span>5</span>
</a></li>
            </ul>
<h4>Contact</h4>
    <a href="#" title="My You can add links in your config file Profile" class="sidebar-social-links" target="_blank">
    <i class="fa fa-you can add links in your config file sidebar-social-links"></i></a>
    <a href="#" title="My Another social link Profile" class="sidebar-social-links" target="_blank">
    <i class="fa fa-another social link sidebar-social-links"></i></a>
        </div>
        </section>
</div>
</article>
                </div>
                <div class="span1"></div>
            </div>
        </div>
        <div id="push"></div>
    </div>
<footer>
<div id="footer">
    <ul class="footer-content">
        <li class="elegant-power">Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Theme: <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a></li>
    </ul>
</div>
</footer>            <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script>
            function validateForm(query)
            {
                return (query.length > 0);
            }
        </script>

    
    </body>
    <!-- Theme: Elegant built for Pelican
    License : http://oncrashreboot.com/pelican-elegant -->
</html>