<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>agiliq_blog - crispyforms</title>
        <link rel="stylesheet" href="/theme/css/main.css" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="/">agiliq_blog </a></h1>
                <nav><ul>
                    <li><a href="/category/html.html">html</a></li>
                    <li><a href="/category/markdown.html">markdown</a></li>
                    <li><a href="/category/rst.html">rst</a></li>
                </ul></nav>
        </header><!-- /#banner -->

            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="/writing-styled-forms-with-absolutely-minimal-html2.html">Writing styled forms with absolutely minimal HTML (Part-2)</a></h1>
<footer class="post-info">
        <abbr class="published" title="2014-04-28T09:43:02+05:30">
                Published: Mon 28 April 2014
        </abbr>
		<br />
        <abbr class="modified" title="2014-04-28T20:13:02+05:30">
                Updated: Mon 28 April 2014
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/rakesh.html">Rakesh</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/crispyforms.html">crispyforms</a> </p>
</footer><!-- /.post-info --><p>In the <a href="http://agiliq.com/blog/2014/04/writing-styled-forms-with-absolutely-minimal-html-/">earlier post</a> we have cruised through the fundamentals of using crispy forms for writing styled forms with minimal HTML.</p>
<p>At this time, let us dip into getting a clear understanding on how to customize the crispy forms.</p>
<p>Before diving into the crux of this post we will become aware with the following key words:</p>
<ol>
<li>FormHelper</li>
<li>Layout</li>
</ol>
<h2>FormHelper</h2>
<ul>
<li>Django-crispy-forms  implements a class called FormHelper to define the form rendering behavior.</li>
<li>Helpers give us a way to control the form attributes and its layout.</li>
<li>They control global form rendering behavior.</li>
</ul>
<h2>Layout</h2>
<ul>
<li>It is an another powerful class of Django-crispy-forms which allow us to change the way the form fields are rendered.</li>
<li>This allows us to set the order of the fields, wrap them in divs or other structure, etc.</li>
<li>Custom output</li>
<li>Flexible and highly reususable</li>
</ul>
<p>In the first place we will get to know how to render a model form and then we will be customizing the divs and fields in the template.</p>
<h2>Handling ModelForm with a Django-crispy-form.</h2>
<p>As we know ModelForms render Model fields as HTML, let us do this using the crispy-forms now.</p>
<p>Now lets render an Address form containing the fields like name, street, landmark and so on...</p>
<p>The basic form stays the same except that we will be appending a FormHelper class.</p>
<p>The snippet of forms.py:</p>
<div class="highlight"><pre><span></span><span class="kr">class</span> <span class="nx">AddressModelForm</span><span class="p">(</span><span class="nx">forms</span><span class="p">.</span><span class="nx">ModelForm</span><span class="p">)</span><span class="o">:</span>
    <span class="nx">def</span> <span class="nx">__init__</span><span class="p">(</span><span class="nx">self</span><span class="p">,</span> <span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span><span class="o">:</span>
        <span class="kr">super</span><span class="p">(</span><span class="nx">AddressModelForm</span><span class="p">,</span> <span class="nx">self</span><span class="p">).</span><span class="nx">__init__</span><span class="p">(</span><span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span>
        <span class="nx">self</span><span class="p">.</span><span class="nx">helper</span> <span class="o">=</span> <span class="nx">FormHelper</span><span class="p">(</span><span class="nx">self</span><span class="p">)</span>

    <span class="kr">class</span> <span class="nx">Meta</span>:
        <span class="kt">model</span> <span class="o">=</span> <span class="nx">Address</span>
</pre></div>


<p>In the above code when the AddressModelForm is called the crispy-forms builds a default layout using form.fields for us, so we don't have to manually list all the fields whatever number of fields it may contain.</p>
<p>Then creation of the views stays the normal way as we do for a normal model-form like this:</p>
<p>views.py:
    <code>form = AddressModelForm()</code></p>
<p>In the template we just need to add the crispy form tag and that's it and our mission is accomplished.</p>
<p>address.html</p>
<div class="highlight"><pre><span></span>{% load crispy_form_tags %}
{% crispy form %}
</pre></div>


<p>That gets us done with handling ModelForm with a Django-crispy-form.</p>
<hr>
<h2>Customizing the form</h2>
<p>Now in the second phase we shall start customizing our form using the powerful classes of crispy-forms -- Layouts and FormHelper.</p>
<p>In the above example, we could just render the form fields, but we are couldn't able to assign any attributes to the form.</p>
<p>In the normal scenario we tend to use the form_action and form_method in the template's form attributes, but in the crispy-forms we can do it by specifying them in the form itself. For this we take the help of FormHelper.</p>
<p>Here is the above example rewritten to get the needed task done:</p>
<div class="highlight"><pre><span></span><span class="nx">The</span> <span class="nx">snippet</span> <span class="nx">of</span> <span class="nx">forms.py</span>:

<span class="kt">class</span> <span class="nx">AddressModelForm</span><span class="p">(</span><span class="nx">forms</span><span class="p">.</span><span class="nx">ModelForm</span><span class="p">)</span><span class="o">:</span>
    <span class="nx">def</span> <span class="nx">__init__</span><span class="p">(</span><span class="nx">self</span><span class="p">,</span> <span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span><span class="o">:</span>
        <span class="kr">super</span><span class="p">(</span><span class="nx">AddressModelForm</span><span class="p">,</span> <span class="nx">self</span><span class="p">).</span><span class="nx">__init__</span><span class="p">(</span><span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span>
        <span class="nx">form_method</span> <span class="o">=</span> <span class="s1">&#39;post&#39;</span>
        <span class="nx">form_id</span> <span class="o">=</span> <span class="s1">&#39;address-form-id&#39;</span>
        <span class="nx">form_show_errors</span> <span class="o">=</span> <span class="nx">True</span>
        <span class="nx">render_hidden_fields</span> <span class="o">=</span> <span class="nx">False</span>
        <span class="nx">self</span><span class="p">.</span><span class="nx">helper</span> <span class="o">=</span> <span class="nx">FormHelper</span><span class="p">(</span><span class="nx">self</span><span class="p">)</span>

    <span class="kr">class</span> <span class="nx">Meta</span>:
        <span class="kt">model</span> <span class="o">=</span> <span class="nx">Address</span>
</pre></div>


<p>Additionally, we have got the capability to add custom helper attributes and Bootstrap Helper attibutes:</p>
<p>Examples for Bootstrap helper attributes:</p>
<div class="highlight"><pre><span></span>`help_text_inline`
`error_text_inline`
`label_class`
`field_class` and so on..
</pre></div>


<h2>Reorder the form fields</h2>
<p>Now it's time for learning the approach to render the form of a template in the customized way. For this we can use the Layout class.</p>
<p>With Layout class we can arrange the fields according to the requirement.</p>
<ul>
<li>What if we want to reorder the fields? And what if I have 100 such fields?</li>
</ul>
<p>Example: forms.py</p>
<div class="highlight"><pre><span></span><span class="kr">class</span> <span class="nx">ExampleFieldForm</span><span class="p">(</span><span class="nx">forms</span><span class="p">.</span><span class="nx">Form</span><span class="p">)</span><span class="o">:</span>
    <span class="nx">helper</span> <span class="o">=</span> <span class="nx">FormHelper</span><span class="p">()</span>
    <span class="nx">helper</span><span class="p">.</span><span class="nx">layout</span> <span class="o">=</span> <span class="nx">Layout</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="s1">&#39;password&#39;</span><span class="p">)</span>
</pre></div>


<h2>Power of Layouts:</h2>
<p>The Power of Layouts becomes much more powerful with layout objects.
Every layout object has an associated template.</p>
<p>There are three types of layout objects.</p>
<ol>
<li>Universal layout objects (Div, HTML, Field, Fieldset..)</li>
<li>Uniform layout objects (ButtonHolder, MultiField)</li>
<li>Bootstrap layout objects (FormActions, AppendedText, Alert...)</li>
</ol>
<p>Using the layout objects will result in tailor made outputs in the relatively simplest way.</p>
<p>Example:</p>
<div class="highlight"><pre><span></span><span class="kr">class</span> <span class="nx">RegistrationForm</span><span class="p">(</span><span class="nx">forms</span><span class="p">.</span><span class="nx">Form</span><span class="p">)</span><span class="o">:</span>
<span class="p">[...]</span>
<span class="nx">def</span> <span class="nx">__init__</span><span class="p">(</span><span class="nx">self</span><span class="p">,</span> <span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span><span class="o">:</span>
    <span class="kr">super</span><span class="p">(</span><span class="nx">RegistrationForm</span><span class="p">,</span> <span class="nx">self</span><span class="p">).</span><span class="nx">__init__</span><span class="p">(</span><span class="o">*</span><span class="nx">args</span><span class="p">,</span> <span class="o">**</span><span class="nx">kwargs</span><span class="p">)</span>
    <span class="nx">self</span><span class="p">.</span><span class="nx">helper</span> <span class="o">=</span> <span class="nx">FormHelper</span><span class="p">()</span>
    <span class="nx">self</span><span class="p">.</span><span class="nx">helper</span><span class="p">.</span><span class="nx">layout</span> <span class="o">=</span> <span class="nx">Layout</span><span class="p">(</span>
        <span class="nx">Fieldset</span><span class="p">(</span>
            <span class="s1">&#39;Registration form&#39;</span><span class="p">,</span>
            <span class="s1">&#39;name&#39;</span><span class="p">,</span>
            <span class="s1">&#39;Father&#39;</span><span class="nx">s</span> <span class="nx">name</span><span class="p">,</span>
            <span class="s1">&#39;email&#39;</span><span class="p">,</span>
           <span class="p">),</span>
        <span class="nx">Div</span><span class="p">(</span>
            <span class="s1">&#39;Address&#39;</span><span class="p">,</span>
            <span class="s1">&#39;City&#39;</span><span class="p">,</span>
            <span class="s1">&#39;pincode&#39;</span>
            <span class="nx">css_id</span> <span class="o">=</span> <span class="s1">&#39;coloured_fields&#39;</span>
            <span class="p">),</span>
        <span class="nx">Button</span><span class="p">(</span>
            <span class="nx">Submit</span><span class="p">(</span><span class="s1">&#39;submit&#39;</span><span class="p">,</span> <span class="s1">&#39;Submit&#39;</span><span class="p">),</span>
        <span class="nx">HTML</span><span class="p">(</span><span class="s2">&quot; {% if success %} &lt;p&gt; Successfully submitted &lt;/p&gt; {% endif %}&quot;</span><span class="p">)</span>
        <span class="p">)</span>
    <span class="p">)</span>
</pre></div>


<p>Explaination:</p>
<ul>
<li>
<p>The fieldset attribute renders the name, fathers's name, email fields wrapped in a fieldset and the first argument in the fieldset is rendered as a legend for the fieldset.</p>
</li>
<li>
<p>The Div attribute wraps the fields Address, city, pincode in a div.</p>
</li>
<li>
<p>Button takes name and value resulting a beautiful button.</p>
</li>
<li>
<p>With HTML attribute we can render HTML content and the context can be accessed from where the form is rendered</p>
</li>
</ul>                </article>
            </aside><!-- /#featured -->
        <section id="extras" class="body">
                <div class="blogroll">
                        <h2>links</h2>
                        <ul>
                            <li><a href="http://getpelican.com/">Pelican</a></li>
                            <li><a href="http://python.org/">Python.org</a></li>
                            <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
                            <li><a href="#">You can modify those links in your config file</a></li>
                        </ul>
                </div><!-- /.blogroll -->
                <div class="social">
                        <h2>social</h2>
                        <ul>

                            <li><a href="#">You can add links in your config file</a></li>
                            <li><a href="#">Another social link</a></li>
                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>