<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>agiliq_blog - shabda</title>
        <link rel="stylesheet" href="/theme/css/main.css" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="/">agiliq_blog </a></h1>
                <nav><ul>
                    <li><a href="/category/html.html">html</a></li>
                    <li><a href="/category/markdown.html">markdown</a></li>
                    <li><a href="/category/rst.html">rst</a></li>
                </ul></nav>
        </header><!-- /#banner -->

                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="9">
            <li><article class="hentry">
                <header>
                    <h1><a href="/rails-for-django-developers.html" rel="bookmark"
                           title="Permalink to Rails for Django developers">Rails for Django developers</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-10-05T00:00:00+05:30">
                Published: Fri 05 October 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-10-05T10:30:00+05:30">
                Updated: Fri 05 October 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/html.html">html</a>.</p>
<p>tags: <a href="/tag/django.html">django</a> </p>
</footer><!-- /.post-info -->                <h3>My presentation at Pycon India 2012</h3> <iframe src=
                <a class="readmore" href="/rails-for-django-developers.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/deploying-django-apps-on-heroku.html" rel="bookmark"
                           title="Permalink to Deploying Django apps on Heroku">Deploying Django apps on Heroku</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-04-02T00:00:01+05:30">
                Published: Mon 02 April 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-02-22T02:06:10+05:30">
                Updated: Wed 22 February 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/django.html">django</a> </p>
</footer><!-- /.post-info -->                <ol>
<li>Read this first. <a href="http://devcenter.heroku.com/articles/django">http://devcenter.heroku.com/articles/django</a> This is a great article by the Heroku. I am just filling in some more details, and making the doc more step-by-step. 1. Get your Django project code. 2. Create a virtualenv with a no-site-packages command virtualenv vent --no-site-packages 3. Install Django, psycopg2 (postgres connector), gunicorn and any other required Django libraries. 4. Confirm that you have all the required libraries and you can run your code locally using "manage.py runserver". 5. Create a requirement.txt by using <code>pip freeze &gt; requirements.txt</code> 6. Make sure you have a requirements.txt at the root of your repo. Heroku</li>
</ol>
                <a class="readmore" href="/deploying-django-apps-on-heroku.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/deploying-django-apps-on-heroku-2.html" rel="bookmark"
                           title="Permalink to Deploying Django apps on Heroku">Deploying Django apps on Heroku</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-02-04T00:00:01+05:30">
                Published: Sat 04 February 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-02-22T02:10:49+05:30">
                Updated: Wed 22 February 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/rst.html">rst</a>.</p>
<p>tags: <a href="/tag/django.html">django</a> </p>
</footer><!-- /.post-info -->                <p class="first last">Read this first: <a class="reference external" href="http://devcenter.heroku.com/articles/django">http://devcenter.heroku.com/articles/django</a>. This is a great article by the Heroku. I am just filling in some more details and making this step-by-step. 1. Get your Django project code. 2. Create a virtualenv with a no-site-packages command :: virtualenv vent --no-site-packages 3. Install Django, psycopg2 (postgres connector), gunicorn and any other required Django libraries. 4. Confirm that you have all the required libraries and you can run your code locally using <tt class="docutils literal">manage.py runserver</tt>. 5. Create a requirement.txt by using :: pip freeze &gt; requirements.txt 6. Make sure you have a requirements.txt at the root of your repo. Heroku uses</p>

                <a class="readmore" href="/deploying-django-apps-on-heroku-2.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/how-to-use-pep8py-to-write-better-django-code.html" rel="bookmark"
                           title="Permalink to How to use pep8.py to write better Django code">How to use pep8.py to write better Django code</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-02-03T00:00:01+05:30">
                Published: Fri 03 February 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-02-03T11:30:01+05:30">
                Updated: Fri 03 February 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/screencasts.html">screencasts</a> </p>
</footer><!-- /.post-info -->                <iframe width="420" height="315" src="http://www.youtube.com/embed/fYEJpq_PtDQ" frameborder="0" allowfullscreen></iframe>

<p>Here is another or screencast I created for my "Getting Started with Django" series. Like this? Email us on what would you like to see. (Watch in fullscreen.)</p>
                <a class="readmore" href="/how-to-use-pep8py-to-write-better-django-code.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/how-and-why-to-use-pyflakes-to-write-better-python.html" rel="bookmark"
                           title="Permalink to How and why to use pyflakes to write better Python">How and why to use pyflakes to write better Python</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-02-02T00:00:01+05:30">
                Published: Thu 02 February 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-02-02T11:30:01+05:30">
                Updated: Thu 02 February 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/screencasts.html">screencasts</a> </p>
</footer><!-- /.post-info -->                <iframe width="420" height="315" src="http://www.youtube.com/embed/N_Kz4Iu5E7U" frameborder="0" allowfullscreen></iframe>

<p>Here is another of the screencasts I created for "Getting started with Python" series. Liked them? Let me know what else would you like me to create screencasts about?</p>
                <a class="readmore" href="/how-and-why-to-use-pyflakes-to-write-better-python.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/screencast-django-tutorial-part-1.html" rel="bookmark"
                           title="Permalink to Screencast: Django Tutorial Part 1">Screencast: Django Tutorial Part 1</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-02-02T00:00:01+05:30">
                Published: Thu 02 February 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-02-02T11:30:01+05:30">
                Updated: Thu 02 February 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/html.html">html</a>.</p>
<p>tags: <a href="/tag/django.html">django</a> </p>
</footer><!-- /.post-info -->                <iframe src=
                <a class="readmore" href="/screencast-django-tutorial-part-1.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/writing-jquery-plugins-using-coffeescript.html" rel="bookmark"
                           title="Permalink to Writing jQuery plugins using Coffeescript">Writing jQuery plugins using Coffeescript</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2012-01-06T00:24:11+05:30">
                Published: Fri 06 January 2012
        </abbr>
		<br />
        <abbr class="modified" title="2012-01-06T11:54:11+05:30">
                Updated: Fri 06 January 2012
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/coffeescript.html">coffeescript</a> </p>
</footer><!-- /.post-info -->                <p>So you want to write a Jquery plugin. If you know jQuery and Coffeescript, this would be amazingly easy. I will walk you through writing a jQuery plugin which will allow us to add alternating colors to alternating rows. Here is the plugin in its entirety. $ = jQuery $.fn.zebraTable = (options)-&gt; defaults = evenColor: '#ccc', oddColor: '#eee' options = $.extend(defaults, options) return @.each( -&gt; $("tr:even", @).css('background-color', options.evenColor); $("tr:odd", @).css('background-color', options.oddColor); ) Lets look at what we did. 1. We bound $ to jQuery object. 2. We created an anonymous functions and added this to jQuery, by assigning it to</p>
                <a class="readmore" href="/writing-jquery-plugins-using-coffeescript.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/haml-for-django-developers.html" rel="bookmark"
                           title="Permalink to Haml for Django developers">Haml for Django developers</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2011-12-25T00:24:11+05:30">
                Published: Sun 25 December 2011
        </abbr>
		<br />
        <abbr class="modified" title="2011-12-25T11:54:11+05:30">
                Updated: Sun 25 December 2011
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/django.html">django</a> </p>
</footer><!-- /.post-info -->                <p>Haml is taking the Ruby(and Rails) world by storm. Its not used as heavily by Python(and Django) developers as the Python solutions aren't as mature. I <em>finally</em> gave Haml a try and was pleasantly surprised how easy it was. The most mature Python implementation of Haml is hamlpy, which converts the hamlpy code to Django templates. Lets look at some templates from <a href="https://docs.djangoproject.com/en/1.2/intro/tutorial03/">Django tutorial</a> {% if latest_poll_list %} <ul> {% for poll in latest_poll_list %} <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li> {% endfor %} </ul> {% endif %} Here is this template converted to Haml -if latest_poll_list %ul -for poll</p>
                <a class="readmore" href="/haml-for-django-developers.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/coffeescript-for-python-programmers.html" rel="bookmark"
                           title="Permalink to Coffeescript for Python programmers">Coffeescript for Python programmers</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2011-12-24T00:24:11+05:30">
                Published: Sat 24 December 2011
        </abbr>
		<br />
        <abbr class="modified" title="2011-12-24T11:54:11+05:30">
                Updated: Sat 24 December 2011
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/markdown.html">markdown</a>.</p>
<p>tags: <a href="/tag/coffeescript.html">coffeescript</a> </p>
</footer><!-- /.post-info -->                <p>I just learnt Coffeescript, and as a Python programmer loved being able to write Javascript in a Python like language. Coffeescript is inspired by Python/Ruby and is very close to these languages. Writing Coffeescript and reading the compiled Javascript also improved my understanding of Javascript. Without much ado here is translation of some Python code to Coffeescript to get you started. Defining a variable Python a = 10 Coffeescript a = 10 Setting scope is done via whitespaces. Python if i == 10: foo() Coffeescript if i == 10 foo() No semicolons List comprehensions Python languages = ["Python", "Coffeescript", "Java",</p>
                <a class="readmore" href="/coffeescript-for-python-programmers.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>

            <li><article class="hentry">
                <header>
                    <h1><a href="/jobs.html" rel="bookmark"
                           title="Permalink to Jobs">Jobs</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2011-03-15T05:22:12+05:30">
                Published: Tue 15 March 2011
        </abbr>
		<br />
        <abbr class="modified" title="2011-03-15T15:52:12+05:30">
                Updated: Tue 15 March 2011
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/shabda.html">shabda</a>
        </address>
<p>In <a href="/category/rst.html">rst</a>.</p>
<p>tags: <a href="/tag/jobs.html">jobs</a> </p>
</footer><!-- /.post-info -->                <p class="first last">We are a small software company building web facing applications for a number of clients. We work with Python, Django, Jquery, Mysql or Postgres. We <strong>“build amazing webapps”</strong>. You can learn more about us from * <a class="reference external" href="http://agiliq.com/">http://agiliq.com/</a> * <a class="reference external" href="http://agiliq.com/blog">http://agiliq.com/blog</a> * <a class="reference external" href="https://github.com/agiliq/">https://github.com/agiliq/</a>. * Are you a software engineer looking to work in a small team with smart people? * Do you know multiple programming languages, and have the ability to pick up new ones? * Can you prove why your IDE or editor is better than mine? * Do you know relational databases, when to use them, and when not to.</p>

                <a class="readmore" href="/jobs.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>
                </ol><!-- /#posts-list -->
<p class="paginator">
        <a href="/author/shabda.html">&laquo;</a>
    Page 2 / 10
        <a href="/author/shabda3.html">&raquo;</a>
</p>
                </section><!-- /#content -->
        <section id="extras" class="body">
                <div class="blogroll">
                        <h2>links</h2>
                        <ul>
                            <li><a href="http://getpelican.com/">Pelican</a></li>
                            <li><a href="http://python.org/">Python.org</a></li>
                            <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
                            <li><a href="#">You can modify those links in your config file</a></li>
                        </ul>
                </div><!-- /.blogroll -->
                <div class="social">
                        <h2>social</h2>
                        <ul>

                            <li><a href="#">You can add links in your config file</a></li>
                            <li><a href="#">Another social link</a></li>
                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>